{% extends "base.html" %}

{% block head_media %}
    <link href="https://cdn.bootcss.com/datatables/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ _('Logging') }}{% endblock %}

{% block page %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ _('Logging Manager') }}</h1>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" target="view_window" href="/admin/log?download=true">
            <i class="fas fa-download fa-sm text-white-50"></i>
            {{ _('Export') }}
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ _('logging list') }}</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>{{ _('Title') }}</th>
                      <th>{{ _('Info') }}</th>
                      <th>{{ _('Create Time') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs %}
                        <tr>
                          <td>{{log.id}}</td>
                          <td>{{log.title}}</td>
                          <td>{{log.info}}</td>
                          <td>{{log.create_time}}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>


              <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">{{pagination.total}} datas found</div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                            <li class="paginate_button page-item previous"><a href="/admin/log?page={{pagination.prev_num}}" class="page-link">{{ _('Previous') }}</a></li>
                            {% else %}
                            <li class="paginate_button page-item previous disabled"><a href="#" class="page-link">{{ _('Previous') }}</a></li>
                            {% endif %}
                            {% for page_num in pagination.iter_pages(1,1,3,1) %}
                                {% if page_num %}
                                    <li class="paginate_button page-item {{page_num==page and 'active' or ''}}">
                                        <a href="/admin/log?page={{page_num}}" class="page-link">{{page_num}}</a></li>
                                {% else %}
                                    <li><a href="#">&hellip;</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                            <li class="paginate_button page-item next"><a href="/admin/log?page={{pagination.next_num}}" class="page-link">{{ _('Next') }}</a></li>
                            {% else %}
                            <li class="paginate_button page-item next disabled"><a href="#" class="page-link">{{ _('Next') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>

{% endblock %}

{% block body_media %}
{% endblock %}
